body {
    padding: 50px;
}

.books, .books td {
    border: 2px solid lightgray;
    padding: 3px;
}

tr.odd {
    background: #fff8dc;
}

label {
    display: inline-block;
    width: 100px;
}

.row {
    margin-top: 10px;
}

input:read-only {
    background: lightgray;
}